<!DOCTYPE html>
<html>
<head>
  <title>Webgit</title>
  <%= stylesheet_link_tag    "webgit/application", media: "all" %>
  <%= javascript_include_tag "webgit/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
