<tbody>
	<% @tree.each_tree do|item| %>
	<tr>
	  <td colspan="2"><a href="<%= show_path(item[:oid]) %>"><%= item[:name] %></a></td>
	</tr>
	<% end %>
	<% @tree.each_blob do|item| %>
	<tr>
	  <td colspan="2"><a href="<%= show_path(item[:oid], item[:name]) %>"><%= item[:name] %></a></td>
	</tr>
	<% end %>
</tbody>
