<div class="box">
  <table class="table table-bordered table-striped table-condensed">
    <%= render "nav_header" %>
    <tbody>
      <tr>
        <td colspan="2" class="preview"><%=raw preview(@blob, params[:format] || :rb) %></td>
      </tr>
    </tbody>
  </table>
</div>